.contact {
  line-height: 5rem;
}
.contact_form{
  width: 640px;
  margin-left:20px;
  float: left;
  font-size: 1rem;
}
.contact_size {
  text-align: right;
  width: 150px;
}
td > input, textarea {
  width: 480px
}
.sex {
  width: 30px
}
.btn {
  height: 30px;
  width: 100px;
  background-color: #f5aaa0;
}
.btn:hover {
  opacity: 0.6
}

textarea {
  vertical-align: middle;
}
.btn_wrap {
  text-align: center;
}



 
  
 










 
